<!doctype html>
<html>
<head>
    <title>The Block Party</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/neighbors/neighbors.css">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
  
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/neighbors">Meet Your Neighbors</a><span class="hover"></span></li>
        <li><a href="/signup">Signup/login</a><span class="hover"></span></li>
        <li><a href="/contact">Contact Us</a><span class="hover"></span></li>
      </ul>
    </div>
    </div>
  </nav>
  <div class="users-container">
    <div class="row">
      <% for(let i = 0 ; i < users.length ; i++){%>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture" style="background: <%=users[i].color%>" >
            <span class="img-fluid" ><%=users[i].local.email.split("")[0]%></span>
          </div>
          <div class="team-content">
            <h3 class="name"><%=users[i].local.email%></h3>
            <h4 class="title"><%=users[i].local.title%></h4>
          </div>
          <ul class="social">
            <details>
              <summary class="button">Upcoming Events</summary>
                
              <div>
                <h2>Welcome to the Block Party!</h2>
                <p>In order to view <%=users[i].local.email%>'s upcoming events, <a href="/signup">signup</a>, or <a href="/signup">login</a>.</p>
              </div>
            </details>
          </ul>
        </div>
      </div>
      <%}%>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js'></script>
<script src="/neighbors.js"></script>
</body>
</html>
